<h1 class="text-2xl font-bold mb-4">Net Worth Tracker</h1>

<div class="row">
    <button
      id="link-button"
      class="px-4 py-2 bg-blue-600 text-white rounded"
    >
      Add account
    </button>
</div>

<div>
    <h2 class="text-xl font-bold mb-4">Institutions</h2>
    <ul class="mt-6">
      <% @institutions.each do |inst| %>
        <li class="mb-2">
          <%= inst.name %>

          <% if inst.needs_auth? %>
            <button
                class="ml-2 px-3 py-1 bg-red-600 text-white rounded"
                onclick="reauthInstitution('<%= inst.id %>')"
            >
              Reconnect
            </button>
          <% end %>
        </li>
      <% end %>
    </ul>
</div>

<div>
  <h2 class="text-xl font-semibold mb-4">Net Worth</h2>
  <div class="text-3xl font-bold mb-2">
    $<%= @time_series.values.last&.round(2) || 0 %>
  </div>
  <div class="bg-white p-6 rounded shadow mb-8">
    <%= line_chart @time_series,
                   height: "300px",
                   thousands: ",",
                   prefix: "$",
                   curve: false
    %>
  </div>
</div>

<script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
<script>
    function csrfHeaders(extra = {}) {
        const token = document.querySelector('meta[name="csrf-token"]')?.content;
        return { "X-CSRF-Token": token, ...extra };
    }

    const headers = csrfHeaders({ "Content-Type": "application/json", "Accept": "application/json" })

    document.getElementById("link-button").onclick = async () => {
        const res = await fetch("/plaid/link_token", { method: "POST", headers: headers })
        const data = await res.json()

        const handler = Plaid.create({
            token: data.link_token,
            onSuccess: async (public_token, metadata) => {
                await fetch("/plaid/exchange_token", {
                    method: "POST",
                    headers: headers,
                    credentials: "same-origin",
                    body: JSON.stringify({
                        public_token: public_token,
                        institution_name: metadata.institution.name
                    })
                })

                window.location.reload()
            }
        })

        handler.open()
    }

    async function reauthInstitution(institutionId) {
        const institution_id = institutionId;
        const res = await fetch(`/plaid/refresh_token`, {
            method: "POST",
            headers: headers,
            credentials: "same-origin",
            body: JSON.stringify({ institution_id }) })

        const data = await res.json()

        const handler = Plaid.create({
            token: data.link_token,
            onSuccess: async (public_token, metadata) => {
                await fetch("/plaid/exchange_token", {
                    method: "POST",
                    headers: headers,
                    credentials: "same-origin",
                    body: JSON.stringify({
                        public_token: public_token,
                        institution_name: metadata.institution.name,
                        institution_id: institution_id
                    })
                })

                window.location.reload()
            }
        })

        handler.open()
    }
</script>